{% extends 'baseAdmin.html.twig' %}

{% block title %}Administration{% endblock %}

{% block body %}
<div class="container">
	<div class="row">
		<h2 style="color: white; margin-top: 2%; margin-bottom: 2%; margin-left: 40%">Utilisateurs</h2>
	</div>
     
        <div class="row">	
            <div class="col-md-12">
                <table id="jeuVideo_table" class="table table-striped table-bordered" cellspacing="0" width="100%">
    				<thead style="background-color: rgba(255, 255, 255, 0.3)">
                                    <tr>
                                        <th>#</th>
					<th>Pseudo</th>
					<th>Mail</th>
                                        <th>Rôle</th>
                                        <th>Supprimer</th>
						</tr>
					</thead>

					<tbody >
                                            {% for user in user %}
						<tr>
							<td style="background-color: rgba(0, 0, 0, 0.5); color:white">{{user.id}}</td>
							<td style="background-color: rgba(0, 0, 0, 0.5); color:white">{{ user.username }}</a></td>
							<td style="background-color: rgba(0, 0, 0, 0.5); color:white">{{ user.email }}</td>
                                                        
							<td style="background-color: rgba(0, 0, 0, 0.5); color:white">
                                                            {% for role in user.roles %}
                                                                {{role}}
                                                            {% endfor %}
                                                            </td>
                                                        
                                               
                                                        <th style="background-color: rgba(0, 0, 0, 0.5); color:white">
                                                            
                                                                <a href="{{path('deleteUser', {"id" : user.id} ) }}" id="deleteUser" class=" delete-item btn btn-danger  btn-xs">
                                                                    Supprimer
                                                                </a> 
                                                        </th>
						</tr>
					</tbody>
                                        {% endfor %}
                </table>
            </div>
	</div>
    </div>

{% endblock %}
